td { 
	font-family: Comic Sans MS, cursive;
}
input {
  width:100%;
  box-sizing:border-box;
}
input {	
	width: 45px;
}
path.edges, polygon.edges, circle.edges{
	stroke: #018080;
	stroke-width:5;
	fill:none;
	stroke-linecap:round;
	stroke-linejoin:round;
}
circle.vertex{
	stroke:#ff0000;
	stroke-width:5;
	fill:#ff0000;
}
